* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide2 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.logos {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  display: flex;
  margin-top: 6rem;
}

.logos-slide {
  display: flex;
  align-items: center;
  animation: 40s slide infinite linear;
}

.logos-slide img {
  margin: 0 40px;
}

.imagecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
